*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body{
	font-family: sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	overflow: hidden;
	background-color: #1c2a3a;
}
button{
	cursor: pointer;
	font-size: 14px;
	font-family: inherit;
	padding: 10px 15px;
	border: none;
	border-radius: 5px;
	background-image: linear-gradient(#9ec14c,#41b14f);
}

select{
	width:200px;
	padding:5px;
	font-family: inherit;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance:none;
	border-radius: 0.5rem;
	background-color: #fff;
}
select:focus,
button:focus,
input:focus{
	outline: 0;
}
.set-btn{
	position: absolute;
	bottom: 30px;
	right: 30px;
}

.sets{
	position: absolute;
	top: 0;
	width: 100%;
	color: #fff;
	height: 70px;
	display: flex;
	align-items: center;
	justify-content: center;
	transform: translateY(0);
	transition: transform 0.3s ease-in-out;
	background-image: linear-gradient(#3b3a3a,#272626);
}
.sets.hide{
	transform: translateY(-100%);
}
.container{
	padding: 20px;
	color: #fff;
	position: relative;
	text-align: center;
	height: 300px;
	width: 500px;
	max-width: 90vw;
	border-radius: 30px 30px 5px 5px;
	box-shadow: rgb(40, 40, 41)0px 20px 30px -10px;
	background-image: linear-gradient(#f100d1, #ff5616);
}

h2{
	padding: 8px;
	margin: 0 0 40px;
	background-color: #3f3f3f;
	border-radius: 10px;
}

input{
	border: 0;
	font-size: 14px;
	width: 300px;
	padding: 12px;
	margin-top: 45px;
	border-radius: 25px;
}

.score{
	position: absolute;
	top: 60px;
	right: 20px;
	padding-top: 15px;
}

.timer{
	position: absolute;
	top: 60px;
	left: 20px;
	padding-top: 15px;
}

.game-over{
	position: absolute;
	display: none;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: inherit;
	border-radius: inherit;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background-color: #3b3a3a;
	z-index: 1;
}
	

